/* Style sheet for talhaansari.com

/* Common Theme Settings */
body {
	background-image:url('background1.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	font-family:"Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size:100%;
	text-align: center;
}
h1 {
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
	color:#C2E0FF;
	text-align:center;
	font-size:3.5em;
	font-weight:100; 
}
span#i {
	font-style: italic;
}
span#right-align {
	float: right;
}
span#left-align {
	float: left;
}
.bold {
	font-weight: bold;
}
.merge-col2 {

}

/* Index Section */
#qoute {
	color: black; 
	font-size: .8em;
	font-style: italic;
	font-weight: bold;
}

#links {
	background-color: black;
	list-style-type: none;
	color:white;
	font-weight:normal;
	padding: .7em;

}
#links li {
	display: inline;
	margin-right:.8em;
	margin-left: .8em;
}
#links a {
	text-decoration: none;
	color:white;
}
#links a:hover {
	color:teal;
}

.center {
	/*background-color: red;*/
	margin-left: auto;
	margin-right: auto;
}
#twitter {
	float: left;
}
#trademark {
	font-size:0.7em;
}
#linkedin {
	float: right;
}

#bg1 {
	background-color: white;
}
#bg2 {
	background-color: red;
}

/* Research Section */
#research_table {
	border: .2em solid black ;  
	border-bottom: none;
	width: 80%;
	padding: .2em;
	background-color: #C2E0FF;
	font-size: 1.1em;
	
}

#research_trow {
	vertical-align: text-top;
	padding: 1em .5em .5em .5em;
	height: auto;
}

#research_tdata {
	border-style: 1em solid black;
	vertical-align: text-top;
	padding: 1em .5em .5em .5em;
	width: 50%;
}
#research_tdata_r {
	padding: 1em .5em .5em .5em;
	width: 50%;
	height: 100%;
	min-width: 30%;
	max-width: 70%;

}
#merge {
	width:100%;
	vertical-align: text-top;
	padding: 1em .5em .5em .5em;
}
#research_img {
	width: 100%;
	height: auto;
}
.resonance-img {
	width:60%;
	height:auto;
}

#my_pic {
	width: 20%;
	margin: auto auto auto 10%;
	float: left;
	padding-right: 0;
	border-style: solid;
	border-width: .1em;
}
#my_info {
	text-align: left;
	margin: auto 10% auto 31%;
	padding: .7em;
	background-color: #A2C0FF;
	border-style: solid;
	border-width: .1em;
	}